* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #f0f0f0, #1e0338 80%);
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.background {
    background-image: url(/images/64cf0bd1cf1f4.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

a:hover {
    color: red;
    text-decoration: none;
}

.body-content {
    padding: 1.5rem;
    width: fit-content;
    margin: auto;
}

.header-title {
    background-image: linear-gradient(to right, #e0e0e0, #f0f0f0);
    color: gray;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-image: linear-gradient(to bottom, #e0e0e0, #d8d8d8);
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar-item a:link,
.navbar-item a:visited,
.navbar-item a:active {
    text-decoration: none;
    color: blue;
}

.categories {
    border: 1px solid #555;
    padding: 10px 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #e0e0e0, #f0f0f0);
}

.categories h3 {
    text-align: center;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories li {
    padding-bottom: 10px;
    border-bottom: dotted 1px #555;
}

.myform {
    padding: 10px;
}

.myform h3 {
    text-align: center;
}

.myform .formGroup {
    padding: 15px;
}

.myform label {
    display: block;
    margin-bottom: 5px;
}

.myform .formGroup input[type='text'],
.myform .formGroup textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: red;
}

.footer-content {
    text-align: center;
    background-image: linear-gradient(to top, #1e0338, #000000);
    color: white;
    padding: 10px;
}

.block {
    float: left;
    width: 50%;
    border: dotted 1px #555;
    padding: 10px;
}

.clr {
    clear: both;
}
